@model IndexViewModel

@{
    ViewBag.Title = "Смартфоны";
    Layout = "_Layout";
}
@if (Model.Phones.Count() == 0)
{
    <h2>Список пуст.</h2>
}
else
{
    <form asp-action="Index" asp-controller="Phones" method="get">
            <select name="brandId" class="form-control">
                <option>Выберите бренд</option>
                @foreach (var brand in Model.Brands)
                {
                    <option value="@brand.Id">@brand.Name</option>
                }
            </select>
            <button type="submit" class="btn btn-outline-warning">Отправить</button>
    </form>
    <h2>Список устройств</h2>
    <table style="width: 100%">
        <tr>
            <th>Минитюра</th>
            <th>Наименование</th>
            <th>Компания</th>
            <th>Стоимость</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var phone in Model.Phones)
        {
            <tr>
                <td><img class="phone_img" src="@phone.Image" alt="картинка паламатая"/></td>
                <td>@phone.Name</td>
                <td>@phone.Brand.Name</td>
                <td>@phone.Price</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" 
                                type="button" 
                                id="dropdownMenu2" 
                                data-toggle="dropdown" 
                                aria-haspopup="true" 
                                aria-expanded="false">
                        Выполнить...
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                          <a class="dropdown-item" asp-route-id="@phone.Id"
                             asp-action="Add"
                             asp-controller="Baskets">
                              В корзину
                          </a>
                          <a asp-route-phoneId="@phone.Id"
                             asp-action="Create"
                             asp-controller="Orders"
                             class="dropdown-item">
                              Заказать
                          </a>
                          <a asp-route-phoneId="@phone.Id"
                             asp-action="Edit"
                             asp-controller="Phones"
                             class="dropdown-item">
                              Изменить
                          </a>
                          <a asp-route-phoneId="@phone.Id"
                             asp-action="About"
                             asp-controller="Phones"
                             class="dropdown-item">
                              Подробнее
                          </a>
                          <a asp-route-phoneId="@phone.Id"
                             asp-action="Delete"
                             asp-controller="Phones"
                             class="dropdown-item bg-danger">
                              Удалить
                          </a>
                      </div>
                    </div>
            </tr>
        }
    </table>
}
<div class="d-flex justify-content-end my-5">
    <a class="btn btn-outline-info" asp-action="Create" asp-controller="Phones">Добавить устройство</a>
</div>

