@using Microsoft.AspNetCore.Identity
@model PhoneStore.ViewModels.Feedback.FeedbackViewModel
@inject UserManager<User> UserManager;

<div id="@Model.Id" class="card mb-3">
    <h5 class="card-header">
        @Model.User.Name
    </h5>
    <div class="card-body">
        <h5 class="card-title">
            Отзыв
        </h5>
        <div class="card-text">@Model.Text</div>
        @if (User.Identity.IsAuthenticated)
        {
            if (int.Parse(UserManager.GetUserId(User)) == Model.UserId)
            {
                <button type="button"
                        class="btn btn-outline-warning"
                        data-toggle="modal"
                        data-target="#exampleModal"
                        text="@Model.Text"
                        feedbackId="@Model.Id"
                        username="@Model.User.Name"
                >
                    Редактировать
                </button>
            }
        }
    </div>
</div>